<!DOCTYPE html>
<html>
	{{> header}}

		<h1>{{welcomeMessage}}</h1>
		<p>Retrouvez sur notre plateforme tous les meilleurs outils pour optimiser un maximum votre site internet !</p>

	{{> footer}}
	</body>
</html>