<!DOCTYPE html>
<html>
	{{> header}}
	<body>
		<div class="hero-section" style="background-image:url(/inbound-marketing.jpg);">
		{{> h1_section}}
		</div>
		<p>Découvrez tous nos outils SEO pour optimiser le référencement de votre site internet rapidement et facilement.</p>

		<div class="first-tool-col">
			<div class="tool-picture-div">
				<img class="tool-picture" src="/google-suggest.png">
			</div>
			<div class="second-tool-col">
				<a href="/sea-tools/keyword-assembler"><h2> Assembleur de mots-clés</h2></a>
				<a href="/sea-tools/keyword-assembler"><p> Construisez des campagnes SEA performantes grâce à notre assembleur de mots-clés. Il vous permettra de créer des listes pertinentes de mots-clés tout en ajoutant facilement les types de correspondance désirés.</p></a>
			</div>
		</div>

		<div class="first-tool-col">
			<div class="tool-picture-div">
				<img class="tool-picture" src="/google-suggest.png">
			</div>
			<div class="second-tool-col">
				<a href="/sea-tools/keyword-suggestor"><h2> Suggestion des mots-clés</h2></a>
				<a href="/sea-tools/keyword-suggestor"><p> Récupérez facilement les suggestions des mots-clés issues de Google pour créer votre liste des mots-clés SEA.</p></a>
			</div>
		</div>

		<!--<table class="button-tools">
			<tr>
				<td style="width:70%;">
					
					<div>
						<h2>Crawler MindFruits</h2>
						<p>Votre site est-il correctement crawlé par Google ? Lancez dès maintenant notre crawler et découvrez les URL de votre site qui devraient être optimisées.</p>
					</div>

				</td>
				<td style="width:5%;">
					<div style="border-right:2px solid #000; border-color:white; height:100%"></div>
				</td>
				<td style="width:5%;"></td>

				<td style="width:20%;">
					<a href="/seo-tools/crawler">
						<div class="cta">
							<p>C'est parti&nbsp;!</p>
						</div>
					</a>
				</td>
			</tr>
		</table>

		<table class="button-tools">
			<tr>
				<td style="width:70%;">
					<div>
						<h2>Optimisation de title et meta-description</h2>
						<p>Apprenez à optimiser le title et la meta-description pour améliorer votre référemencent ainsi que le taux de clic naturel vers votre site.</p>
					</div>
				</td>
				<td style="width:5%;">
					<div style="border-right:2px solid #000; border-color:white; height:100%"></div>
				</td>
				<td style="width:5%;"></td>

				<td style="width:20%;">
					<a href="/seo-tools/meta-optimizer">
						<div class="cta">
							<p>C'est parti&nbsp;!</p>
						</div>
					</a>
				</td>
			</tr>
		</table>-->

	{{> footer}}
	</body>


</html>